html {
  color: White;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

#root {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(https://picsum.photos/1000/500);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar,
.footer {
  position: fixed;
  left: 0;
  padding: .75rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #26292C;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}
.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px);
}

.hero {
  padding: 3.7em 3em 3.7em 3em;
  padding-bottom: 10px;
  max-width: min-content;
  max-height: 90vh;
  background-color: #1C1F21;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#new {
  height: 75vh;
  width: 80vw;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#new > div  {
  margin: 20px;
}
.description {
  font-size: 1.7rem;
  font-family: "bitter";
  font-style: italic;
  text-align: justify, center;
}
i {
  font-size: 36px;
}
.fab {
  padding-bottom: 5px;
  /* block-size: 30px; */
}
.item {
  font-size: 18px;
  margin: 10px;
  font-family: "Open Sans";
  font-weight: 350;
  width: 80px;
  height: 90px;
  font-size: 1em;
  text-align: center;
  padding: 15px 10px 15px 10px;
  border-radius: 10px;
  background-color: #2F3437;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.items-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: left;
  justify-content: left;
}
.break {
  flex-basis: 100%;
  height: 0;
}

hr{
  width: 100%;
  margin: 10px;
}
.switch {
  margin: 10px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

span,
p {
  display: inline !important;
}

.see-more{
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none; 
  background-color: none;
  color: white;
}
.see-more:hover{
  text-shadow: 0 0 2px white;
  cursor: pointer;
}
/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.slide-out-top {
	-webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes slide-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px);
    opacity: 0;
    display: none;
  }
}
.slide-in-bck-bottom {
  display: flex !important;
	animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.project-image{
  color: white;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
  width: 250px;
  background-image: url('https://picsum.photos/250/150');
}
.hide{
  visibility:hidden
}

.project-image:hover > .hide{
  visibility: visible;
}
.project-image:hover {

  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.4);
}

a { color: white; }

.project{
  
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  flex-direction: column;
  background-color: #2F3437;
}